/* Styles for usic Catalog, 2013 robert */

/* Browser RESET css */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
a {text-decoration: none;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* Page styles */
body {min-width: 996px;}
.container {font: 1em Tahoma, Helvetica, sans-serif; position: relative;}

h1 {font-size: 2.25em;} /* target 36px / context 16px */
h2 {font-size: 1.5em;} /* target 24px / context 16px */
h3 {font-size: 0.875em;} /* target 14px / context 16px */
h4 {font-size: 0.75em;} /* target 12px / context 16px */
h5 {}
h6 {}

/* =======
  Header
======= */
header {width: 100%; height: 80px; box-shadow: 0 8px 8px -8px #5c5c5c; border-top: 1px solid #efefef; position: relative; z-index: 3;}
.header_container {height: 80px; margin: 0 auto;}
.header_container > div {display: inline-block; vertical-align: top;}
	.logotype {width: 72px; height: 80px; background: url(../images/header-sprite.png); float: left; margin: 0 8px 0 20px;}
	.title {}
		.title a[href="http://usic.at/"] {color: #000;}
			.title a:hover {color: #009df4;}
		.title h1 {font-weight: bold; margin-top: -8px;}
		.title h2 {font-weight: bold;}
		.title h3 {color: #989898;}
		.title h2, header h3 {display: inline-block; vertical-align: baseline; margin-top: 8px;}

	.right {float: right;}
	.right > div {display: inline-block; vertical-align: top;}

	/* Social buttons (vk, fb, twitter, usic-feedback) */
	.social {margin-right: 8px;}
		.social a {width: 44px; height: 80px; background: url(../images/header-sprite.png); display: inline-block; -webkit-transition: all 0.4s ease 0.2s; -o-transition: all 0.4s ease 0.2s; transition: all 0.4s ease 0.2s; -moz-transition: all 0.4s ease 0.2s; margin: 0 4px;}
		.social a:hover {-webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -o-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg);}
		.social a[href*="vkontakte"] {background-position: -139px 0;}
		.social a[href*="facebook"] {background-position: -183px 0;}
		.social a[href*="twitter"] {background-position: -227px 0;}
		.social a[href*="feedback"] {background-position: -72px 0; width: 67px; margin: 0 8px;}

	/* Search field */
	.search {margin: 24px 20px 0 0; position: relative;}
		.search input[type=text] {width: 290px; border: 2px solid #cecece; border-radius: 8px; font-size: 0.875em; padding: 6px 8px; -webkit-transition: all 0.6s ease 0.1s; -o-transition: all 0.4s ease 0.2s; transition: all 0.4s ease 0.2s; -moz-transition: all 0.4s ease 0.2s;}
			.search input[type=text]:focus {border-color: #25b525;}
		.search input[type=submit] {width: 16px; height: 20px; border: none; background: url(../images/header-sprite.png) -271px 0; position: absolute; top: 6px; right: 10px;}
			.search input[type=submit]:hover {background-position: -271px -20px; cursor: pointer;}
		.search input:focus {outline: none;} /* reset chrome input-border */

/* =================================
  Navigation (left & right panels)
================================= */
nav {position: absolute; display: block; top: -20px; z-index: 2;}
nav > div {width: 100px; height: 100%; position: fixed; background: #fff; padding: 100px 0 0 0;}
	.right_panel {right: 0;}
		nav ul li {text-align: center;}
		nav ul li:hover {background: #efefef;}
		nav ul li a {width: 100%; display: block; padding: 5px 0 10px 0;}
			nav ul div {width: 80px; height: 55px; background: url(../images/navigation-sprite.png); display: inline-block;}
			nav ul h3 {color: #000; font-weight: bold;}
	.left_panel ul li:nth-child(2) div {background-position: -80px 0;}
	.left_panel ul li:nth-child(3) div {background-position: -160px 0;}
	.left_panel ul li:nth-child(4) div {background-position: -240px 0;}

	.right_panel ul li:nth-child(1) div {background-position: -320px 0;}
	.right_panel ul li:nth-child(2) div {background-position: -400px 0;}
	.right_panel ul li:nth-child(3) div {background-position: -480px 0;}
	.right_panel ul li:nth-child(4) div {background-position: -560px 0;}
	.right_panel ul li:nth-child(5) div {background-position: -640px 0;}

	.hide_panel {position: relative; padding: 10px 0;}
		.hide_arrow_color {width: 27px; height: 19px; margin: 0 auto;}
		.hide_arrow {width: 27px; height: 19px; background: url(../images/navigation-sprite.png) -720px -19px;}
			.hide_panel:hover {cursor: pointer; color: #fff; border-color: #fff;}
				.hide_panel:hover .hide_arrow {background-position: -720px 0;}
			.right_panel .hide_arrow {background-position: -749px -19px;}
				.right_panel .hide_panel:hover .hide_arrow {background-position: -749px 0;}

			.left_panel .hide_panel {}
			.left_panel .hide_panel:hover:before {content: ""; border-top: 19px solid #fff; border-bottom: 20px solid #fff; border-right: 19px solid #25b525; position: absolute; left: 0; top: 0;}
			.right_panel .hide_panel:hover:after {content: ""; border-top: 19px solid #fff; border-bottom: 20px solid #fff; border-left: 19px solid #25b525; position: absolute; right: 0; top: 0;}

	nav .active {position: relative;}
	.left_panel .active:after {content: ""; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid #25b525; position: absolute; top: 50%; right: 0; margin-top: -10px;}
	.left_panel .maxi_panel, .right_panel .maxi_panel {display: none;}

	/* ===============
		Mini panels
	=============== */
	.mini_panel {min-width: 30px; max-width: 30px !important; background: #fff;}
		.mini_panel .maxi_panel {display: block; width: 100%;}
		.maxi_panel {cursor: pointer; text-align: center; padding-bottom: 4px; font-size: 22px;}
			.maxi_panel:hover {color: #fff;}
	.mini_panel:nth-child(1) {left: -30px;}
	.mini_panel:nth-child(2) {right: -30px;}
		.mini_panel ul li {height: 39px;}
		.mini_panel ul li:hover {background: #fff;}
		.mini_panel ul li:nth-child(1) a {margin-top: 10px;}
		.mini_panel ul li a {padding: 5px 0;}
		.mini_panel .hide_panel {display: none;}
		.mini_panel:nth-child(1) .active:after {border: none;}
		.mini_panel ul li div {width: 29px; height: 29px; background-color: #000 !important; background: url(../images/navigation-sprite.png);}
		.mini_panel ul li:hover div {background-color: orange !important; background: url(../images/navigation-sprite.png);}

			.mini_panel:nth-child(1) ul li:nth-child(1) div {background-position: 0 -58px;}
			.mini_panel:nth-child(1) ul li:nth-child(2) div {background-position: -29px -58px;}
			.mini_panel:nth-child(1) ul li:nth-child(3) div {background-position: -58px -58px;}
			.mini_panel:nth-child(1) ul li:nth-child(4) div {background-position: -87px -58px;}
				.mini_panel:nth-child(1) ul li:nth-child(1):hover div {background-color: #25b525 !important;}
				.mini_panel:nth-child(1) ul li:nth-child(2):hover div {background-color: #c84cbd !important;}
				.mini_panel:nth-child(1) ul li:nth-child(3):hover div {background-color: #438ef4 !important;}
				.mini_panel:nth-child(1) ul li:nth-child(4):hover div {background-color: #f45d5d !important;}

			.mini_panel:nth-child(2) ul li:nth-child(1) div {background-position: -116px -58px;}
			.mini_panel:nth-child(2) ul li:nth-child(2) div {background-position: -145px -58px;}
			.mini_panel:nth-child(2) ul li:nth-child(3) div {background-position: -174px -58px;}
			.mini_panel:nth-child(2) ul li:nth-child(4) div {background-position: -203px -58px;}
			.mini_panel:nth-child(2) ul li:nth-child(5) div {background-position: -232px -58px;}
				.mini_panel:nth-child(2) ul li:nth-child(1):hover div {background-color: #c84cbd !important;}
				.mini_panel:nth-child(2) ul li:nth-child(2):hover div {background-color: #25b525 !important;}
				.mini_panel:nth-child(2) ul li:nth-child(3):hover div {background-color: #25b525 !important;}
				.mini_panel:nth-child(2) ul li:nth-child(4):hover div {background-color: #f45d5d !important;}
				.mini_panel:nth-child(2) ul li:nth-child(5):hover div {background-color: #438ef4 !important;}

		.mini_panel h3 {display: none;}


/* ======
  Footer
====== */
footer {width: 100%; height: 40px; position: relative; z-index: 1;}
footer a {color: #fff; display: inline-block; height: 40px; vertical-align: middle; margin-right: 40px;}
footer a:hover {opacity: 0.6;}
footer h3 {font-weight: bold; position: relative; margin-top: 11px;}
	footer a:nth-child(1) {margin-left: 150px;}
	footer a:nth-child(3) {position: absolute; right: 130px; margin-right: 0;}
		footer a h3:before {content: ""; width: 34px; height: 34px; background: url(../images/footer-sprite.png); position: absolute; left: -34px; top: -8px;}
			footer a:nth-child(1) h3:before {background-position: -68px 0;}
			footer a:nth-child(2) h3:before {background-position: -34px 0;}

/* tech */
header, section {background: #fff;}
p {font-size: 0.75em; line-height: 22px;}
	/* tags (colors) */
	.natural-tag {background: #25b525; color: #fff;}
	.lections-tag {background: #25b525; color: #fff;}
	.f-course-tag {background: #34c8ff; color: #fff;}

/* CONTENT */
section {margin: 10px 110px 0 110px; padding: 20px; border-radius: 8px;}
	section h2 {font-weight: bold; color: #979797; margin-bottom: 20px;}
	section ul h3 {font-weight: bold;}
	.options ul li {line-height: 28px; margin: 0 20px 0 0; display: inline-block;}
	.options ul li a:hover h3 {color: #000;}
	.options ul li:first-child {margin-left: 0;}

	.options ul li:nth-child(1) h3 {color: #25b525;}
	.options ul li:nth-child(2) h3 {color: #438ef4;}
	.options ul li:nth-child(3) h3 {color: #f45d5d;}
	.options ul li:nth-child(4) h3 {color: #ff9000;}
	.options ul li:nth-child(5) h3 {color: #c84cbd;}
	.options ul li:nth-child(6) h3 {color: #979797;}

	.options {border-bottom: 1px dashed #cecece; padding-bottom: 10px; text-align: left;}

section {text-align: center;}
section .summary {font-size:0.75em; color: #666; padding-top: 1em; padding-bottom: 1em; text-align: left;}
section article {width: 100%; display: inline-block; vertical-align: top; margin: 20px -2px; padding: 0 20px;}
	article table { border: none; }
	article h3 {font-weight: bold; text-align: center;}
	article h3.natural {margin: 1em;}
	article > div {display: inline-block; vertical-align: top;}
	 	.content {max-width: 35em; padding: 1em;}
		.image {margin: 20px; float: left;}
		.description {width: 35em; padding-right: 10px; text-align: left;}
		.information {text-align: left; line-height: 1.5; padding: 1em;}
		.information h3 {text-align: left;}
		.information h3 span {font-weight: normal;}
			.tags {display: block; width: 100%; clear: both;}
			.tags span {margin: 2px 2px 2px 0; border-radius: 4px; font-size: 0.75em; padding: 2px 4px 3px 4px; white-space: nowrap; display: inline-block;}
			.rating {margin-top: 20px; display: block;}
			.rating a {display: inline-block; padding: 4px; width: 16px; border-radius: 4px; background: red; text-align: center; font-size: 0.875em; color: #fff;}
			.rating a:hover {opacity: 0.4;}
				.rating a:first-child {background: #25b525;}
			.rating h3 {color: #25b525;}
			.rating h3, .rating h4 {display: inline-block;}
.natural {color: #25b525;}

/* Media queries */
@media screen and (min-width: 1900px) and (max-width: 2048px){
	section {}
	section article {max-width: 790px !important;}
}

/* Chrome hack */
@media all and (-webkit-min-device-pixel-ratio:0) {
	.search input[type=submit] {top: 8px;}
}

/* Colors */
.green {background: #25b525;}
	.green_text {color: #25b525;}
	.green_hover:hover {background: #25b525;}
	.mini_panel .green_mini div {background-color: #25b525 !important;}
.blue {}
.pink {}
.red {}
.orange {}
.black {}
